@model pim8.Models.AuthModel
@{
    ViewData["Title"] = "SignIn";
}

<div class="text-center">
    <h1 class="display-4">Authenticate in application</h1>
    
    <section id="login_form">

        @using (Html.BeginForm("SignIn", "Auth", "aaaaaaaaaaaaaaa", FormMethod.Post)){
            
            @Html.ValidationSummary(true,"",new { @class="text-danger"})

             <div class="form-group">
            <div class="col-md-10">
            @Html.LabelFor(m=> m.username)
            @Html.TextBoxFor(m => m.username)  
            @Html.ValidationMessageFor( m => m.username, "", new { @class="text-danger"})
            </div>
            </div>

            <div class="form-group">

            <div class="col-md-10">
            @Html.LabelFor(m=> m.password)
            @Html.PasswordFor(m => m.password)  
            @Html.ValidationMessageFor( m => m.password, "", new { @class="text-danger"})
            </div>
           </div>

            <input type="submit" value="Logar"/>
        }
    </section>
</div>
