@model pim8.Models.AddressViewModel
@{
    ViewData["Title"] = "Adicionar Endereço";
}

<div class="text-center">

    <p class="lead">
    Por favor, atualize seu endereço. 
    </p>
   @using (Html.BeginForm("UpdateAddress", "User", "", FormMethod.Post)){
            <div class="container-default">

        
            <div class="form-group">
            <div class="col-md-10 input-container">
            @Html.LabelFor(m=> m.cep)
            @Html.TextBoxFor(m => m.cep,  new { @class="form-control big-input", 
                                         @id="cepInput", 
                                         @placeholder="CEP"})  
            @Html.ValidationMessageFor( m => m.cep, "", new { @class="text-danger"})
            </div>
            </div>

            <div class="form-group">
            <div class="col-md-10 input-container">
            @Html.LabelFor(m=> m.place)
            @Html.TextBoxFor(m => m.place,  new { @class="form-control big-input", 
                                         @id="placeInput", 
                                         @readonly=true,
                                         @placeholder="Logradouro"})  
            @Html.ValidationMessageFor( m => m.cep, "", new { @class="text-danger"})
            </div>
            </div>

        
            <div class="form-group">
            <div class="col-md-10 input-container">
            @Html.LabelFor(m=> m.neighborhood)
            @Html.TextBoxFor(m => m.neighborhood,  new { @class="form-control big-input", 
                                         @id="neighInput", 
                                         @readonly=true,
                                         @placeholder="Bairro"})  
            @Html.ValidationMessageFor( m => m.neighborhood, "", new { @class="text-danger"})
            </div>
            </div>

            <div class="form-group">
            <div class="col-md-10 input-container">
            @Html.LabelFor(m=> m.number)
            @Html.TextBoxFor(m => m.number,  new { @class="form-control big-input", 
                                         @id="numberInput", 
                                            @placeholder="Nº"})  
            @Html.ValidationMessageFor( m => m.number, "", new { @class="text-danger"})
            </div>
            </div>

            <div class="form-group">
            <div class="col-md-10 input-container">
            @Html.LabelFor(m=> m.city)
            @Html.TextBoxFor(m => m.city,  new { @class="form-control big-input", 
                                         @id="cityInput", 
                                        @readonly=true,
                                         @placeholder="Cidade"})  
            @Html.ValidationMessageFor( m => m.city, "", new { @class="text-danger"})
            </div>
            </div>

            <div class="form-group">
            <div class="col-md-10 input-container">
            @Html.LabelFor(m=> m.state)
            @Html.TextBoxFor(m => m.state,  new { @class="form-control big-input", 
                                         @id="stateInput", 
                                          @readonly=true,
                                         @placeholder="Estado"})  
            @Html.ValidationMessageFor( m => m.state, "", new { @class="text-danger"})
            </div>
            </div>

            <div class="form-group">
            <div class="col-md-10 input-container">
            @Html.LabelFor(m=> m.complement)
            @Html.TextBoxFor(m => m.complement,  new { @class="form-control big-input", 
                                         @id="complementInput", 
                                         @placeholder="Complemento"})  
            @Html.ValidationMessageFor( m => m.complement, "", new { @class="text-danger"})
            </div>
            </div>
            
        
            <input 
            class="btn btn-outline-primary total-button"
            type="submit" 
            id="btnSave"
            value="Salvar"/>
            </div>
            

        }
    @section Scripts {
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
        <script>

            $("#btnSave").on("click", ()=> {
                saveAddress();
            })
            $(document).ready(()=>{
                $('#cepInput').mask("00000-000")
            })

            let city;
            let neighborhood;
            let place;
            let state;

            $("#cepInput").on("change", (e)=>{
                const value = e.target.value.replace("-","")
                if(e.target.value.trim().length>=8){
                     $.ajax({
                        url: `https://cdn.apicep.com/file/apicep/${e.target.value}.json`,
                        type: "GET",
                        success:(result)=>{
                            setAddressVariables(result);
                            setAddress();
                        }
                        })
                }
            })
          
        
            function setAddressVariables(obj){
                city = obj.city;
                state = obj.state;
                place = obj.address;
                neighborhood = obj.district;
                
            }

            function setAddress(){
                $("#placeInput").attr("value", place);
                $("#cityInput").attr("value", city);
                $("#stateInput").attr("value", state);
                $("#neighInput").attr("value", neighborhood);
            }


            function saveAddress(){

                const place = $("#placeInput").attr("value");
                const city = $("#cityInput").attr("value");
                const state = $("#stateInput").attr("value");
                const neigh = $("#neighInput").attr("value");
                const number = $("#numberInput").attr("value");
                const complement = $("#complementInput").attr("value");

                console.log($("#placeInput").attr("value"));
                console.log(neighborhood, city, state, neigh, number, complement)
                  $.ajax({
                        url: "@Url.Action("UpdateAddress", "User")",
                        type: "POST",
                        dataType:"json",
                        data: {
                            place:place, 
                            city:city, 
                            state:state,
                            neigh:neigh, 
                            number:number,
                            complement:complement
                        },
                        success:()=> {
                            alert("Endereço alterado com sucesso.");
                           // window.reload();
                        },
                        error: (d)=>{console.log(d)}
                        })

            }
        </script>
    }
</div>

