@model pim8.Models.UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h3>Nome: @ViewBag.name</h3>
    <h3>Nome de usuário: @ViewBag.username</h3>
    <h3>E-mail: @ViewBag.email</h3>
    <h3>CPF: @ViewBag.cpf</h3>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
    <form
    method="post"
    enctype="string"
    asp-controller="User"
    asp-action="UpdatePhoto">
        <label for="profilePhoto">Foto de Perfil</label>
        <input
        id="profilePhoto"
        type="file"
         />
        <input
        type="submit"
        />
    </form>
    @using (Html.BeginForm(""))
    @using (Html.BeginForm("DeleteProfile", "Auth", new { email = @ViewBag.email }, FormMethod.Post)){

            <input type="submit" value="Deletar Conta"/>
        }


        <script>
            const filePhoto = document.querySelector("#profilePhoto");
            filePhoto.addEventListener("change", ()=>{
                console.log('maccarao');
                filePhoto.value=["macacarrao"]
            })
        </script>

</div>