@model pim8.Models.UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h3>Nome: @ViewBag.name</h3>
    <h3>Nome de usuário: @ViewBag.username</h3>
    <h3>E-mail: @ViewBag.email</h3>
    <h3>CPF: @ViewBag.cpf</h3>
    <h3> PHOTO:@ViewBag.photo </h3>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="profile-info-container">
        <img id="profileImg" src="@ViewBag.photo" class="avatar" />

        <label for="profilePhoto">Foto de Perfil</label>
        <input id="profilePhoto" type="file" />
        <p> Se tiver certeza, confirme </p>
        <button id="btnUpload"> Confirmar </button>
    </div>


    @using (Html.BeginForm("DeleteProfile", "Auth", new { email = @ViewBag.email }, FormMethod.Post))
    {

        <input type="submit" value="Deletar Conta" />
    }


    @section Scripts {
    <script>
        let base64;
        const acceptTypes = ["image/png", "image/jpeg", "image/jpg"];

        const getMimeType = base64 => base64.split(";")[0].split(":")[1];
        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result)
        })
        const isFileValid = mimeType => acceptTypes.some(x => x === mimeType);

        $("#profilePhoto").on("change", async (e) => {
            console.log(e.target.files);
            base64 = await toBase64(e.target.files[0]);
            const mime = getMimeType(base64);
            if (isFileValid(mime)) {
                $("#profileImg").attr("src", base64);
            } else {
                alert("Tipo de arquivo não aceito.")
            }
        })
        $("#btnUpload").on("click", () => {
            if (!base64) { return alert("Selecione uma imagem png ou jpeg.") }
            const mime = getMimeType(base64);
            if (!isFileValid(mime)) { return alert("Selecione uma imagem png ou jpeg.") }

            $.ajax({
                url: "@Url.Action("UpdatePhoto","User")",
                type: "POST",
                data: { file: base64 },
                dataType: "json",
                success: function (result) {
                    if (result.status === "success") {
                        location.reload();
                    }
                },
                error: function (err) { console.log(err) }
            })



        })

        $(document).ready( () => {
            
            const src = $("#profileImg").attr("src");
            if(!src) { 
                $("#profileImg").attr("src", "/img/avatar.png");
            }else{
                console.log("top, tem")
                }
        })
    </script>
    }

</div>